beautifulsoup4==4.5.3
Django==2.2.13
djangorestframework==3.9.1
future==0.16.0
pbr==3.1.1
pytz==2018.3
selenium==3.11.0
serializers==0.2.4
six==1.11.0
stevedore==1.28.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
